@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

/*

GENERICS 


*/

html {
  scroll-behavior: smooth;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* padding-top: 88px; */
  /* padding-left: 136px; */
  height: 100%;
  display: flex;
}

.purple {
  color: #6415ff;
}

a {
  position: relative;
}

::-webkit-input-placeholder {
  color: gray;
  font-weight: 700;
  color: rgb(56, 178, 172);
  opacity: 0.5;
  letter-spacing: 1px;
}

h1 {
  font-size: 48px;
}

h2 {
  color: #243e63;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.025rem;
  font-weight: 900;
}

h3 {
  font-size: 24px;
}

h5 {
  color: #243e63;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
}

p {
  font-size: 20px;
  padding-top: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

/* 

NAV 

*/

nav {
  height: 100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.btn__menu {
  /* background: transparent; */
  cursor: pointer;
  border: none;
  text-align: center;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
}

.menu--open .menu__backdrop {
  display: flex;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
}

.nav__container {
  display: flex;
  max-width: 1200px;
  padding: 0 24px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  padding: 24px;
}

.logo__subheading {
  text-decoration: none;
  font-weight: 900;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  padding: 0 0 4px;
  margin: 0 24px;
  color: #243e63;
  font-size: 0.875rem;
  font-weight: 600;
}

.nav__link--anchor {
  text-decoration: none;
  padding: 0 0 4px;
  margin: 0 24px;
  color: #243e63;
  font-size: 0.875rem;
  font-weight: 600;
}

.nav__link:hover {
  color: #6415ff;
}

.nav__link--primary {
  background-color: #7342d6;
  border: 2px solid #7342d6;
  border-radius: 32px;
  padding: 12px;
  color: white;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  background-color: rgb(80 17 204);
  /* transition: all 300ms ease; */
}

.light__nav-link {
  display: flex;
  transform: translateX(-50%);
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #6415ff;
  width: 0%;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

/* 

HEADER

*/

.header__description {
  width: 40%;
  margin-right: 48px;
  padding-top: 120px;
}

.header__img--wrapper {
  width: 60%;
}

.header__para {
  text-align: left;
  font-size: 20px;
}

.header__img {
  width: 110%;
  max-width: 1200px;
  /* padding-right: 108px; */
  padding-top: 48px;
}

input {
  text-align: start;
  width: 400px;
  height: 65px;
  padding-left: 40px;
  border-radius: 56px;
  border-width: 2px;
}

button {
  color: white;
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 56px;
  border: none;
  background-color: #7342d6;
  position: relative;
}

.header__btn {
  top: -58px;
  right: -242px;
  cursor: pointer;
  font-weight: 700;
  transition: all 300ms ease;
}

.header__btn:hover {
  background-color: rgb(80 17 204);
}

.customer__title {
  color: #a0aec0;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  opacity: 0.5;
}

.customer__logos {
  max-width: 100%;
  opacity: 0.5;
  margin: 8px -4px;
}

.container {
  padding: 80px 0;
}

.title__small {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.title {
  display: flex;
  justify-content: center;
  margin: 8px 0;
}

.title__para {
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

/* 


FEATURES 


*/

.features__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.feature__para {
  /* text-align: center; */
  margin: 0 auto;
  max-width: 36rem;
  color: gray;
  line-height: 2;
  font-weight: 500;
  font-size: 16px;
}

.features__para {
  margin: 0 auto;
  text-align: center;
  max-width: 36rem;
  color: gray;
  line-height: 2;
  font-weight: 500;
  margin-top: 1rem;
  font-size: 16px;
}

.features__heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: bold;
  font-size: 18px;
  padding: 24px;
  /* margin-right: 64px; */
}

.feature__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
}

.feature__service {
  display: flex;
  width: calc(100% / 3);
}

.feature__description {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 72px;
}

.feature__subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #243e63;
}

.feature__img--wrapper {
  border-radius: 9999px;
  border-width: 1px;
  padding: 1.25rem;
  margin-right: 18px;
  text-align: center;
}

/* 

QUALITY

*/

.quality__description {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.quality__img--wrapper {
  width: 50%;
  margin-left: 48px;
  margin-bottom: 48px;
  border-radius: 0.25rem;
  border-width: 1px;
}

.quality__img {
  width: 100%;
  max-width: 1200px;
  /* padding-right: 108px; */
  padding-top: 48px;
}

.quality__title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.quality__heading {
  color: #243e63;
  font-size: 3rem;
  margin-top: 24px;
}

.quality__subtitle {
  color: grey;
  text-align: left;
  max-width: 100%;
  font-size: 1.25rem;
}

.quality__btn {
  width: 150px;
  cursor: pointer;
  transition: all 300ms ease;
}

.quality__btn:hover {
  background-color: rgb(80 17 204);
}

/* 

STEPS

*/

.steps__container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.steps__description,
.step__description {
  margin-left: 24px;
}

.step__description {
  padding-top: 6px;
}

.steps__title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 16px;
}

.steps__heading {
  margin-top: 24px;
  color: #243e63;
  font-size: 3rem;
}

.steps__img {
  max-width: 100%;
  border-radius: 0.25rem;
  padding-top: 84px;
}

#steps {
  margin: 100px;
}

.step__list {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 48px;
}

.step__list--item {
  display: flex;
}

.step__number {
  color: #cbd5e0;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1;
}

.step__para {
  margin-top: 0.75rem;
  max-width: 100%;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
  color: #718096;
}

/* 

VALUES

*/

.value__img {
  width: 100%;
  max-width: 1200px;
}

.value__list--img {
  margin: 0px 12px 0px 0px;
}

.value__description {
  width: 100%;
}

.value__subheading {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.value__heading {
  color: #243e63;
  font-size: 48px;
  max-width: 80%;
  margin-top: 24px;
}

.value__para {
  color: #7c8ba1;
  font-size: 18px;
}

.value__item--para {
  color: #718096;
  text-align: left;
  line-height: 1.625;
  margin: 12px;
}

.value__list--wrapper {
  display: flex;
}

.value__logo--heading {
  display: flex;
}

.value__btn {
  cursor: pointer;
  margin-top: 48px;
  transition: all 300ms ease;
}

.value__btn:hover {
  background-color: rgb(80 17 204);
}

.value__heading--title {
  color: #243e63;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 12px 0px 0px 0px;
}

/* 

PRICING

*/

.buy-now__btn {
  cursor: pointer;
  margin-top: 24px;
}

.buy-now__btn--enterprise,
.buy-now__btn--pers,
.buy-now__btn--business {
  cursor: pointer;
  margin: 36px 0px 0px;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.buy-now__btn--pers {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  white-space: nowrap;
}

.buy-now__btn--enterprise {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.pricing__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px;
}

.plan__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  padding: 0px 24px;
}

.pricing__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  width: 71%;
  margin-bottom: 48px;
  padding: 0px 36px;
}

.pricing__list--wrapper {
  padding: 0px -48px;
  margin-right: 2rem;
}

.business {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan__wrapper {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(225, 224, 224, 0.5);
  border-radius: 16px;
  width: 100%;
  padding: 0px 84px;
}

.plan__header {
  width: calc(100% / 3);
  display: inline-block;
  text-align: center;
  transform: translateX(70%);
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
}

.duration {
  color: #a0aec0;
  transform: translateX(50%);
}

.plan__features {
  display: flex;
  flex-direction: column;
  margin-left: -2rem;
  margin-right: -2rem;
  border-top-width: 2px;
  line-height: 2rem;
  padding: 2rem;
}

.plan__action {
  border-top-width: 2px;
  padding: 2rem 1rem;
}

.main__feature {
  display: flex;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  transform: translateX(30%);
}

.feature {
  color: #718096;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
}

.main__feature {
  transform: translateX(15%);
}

.pricing__subheading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: bold;
  font-size: 18px;
  padding: 24px;
}

.pricing__para {
  margin: 0 auto;
  text-align: center;
  max-width: 36rem;
  color: gray;
  line-height: 2;
  font-weight: 500;
  margin-top: 1rem;
  font-size: 16px;
}

.name {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
}

.price {
  font-size: 48px;
  font-weight: bold;
  transform: translateX(-60%);
}

.main__feature {
  white-space: nowrap;
}

/* .plan__gradient--1 {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%
  );
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
} */

/* 

HAPPY

*/

.happy__heading {
  font-size: 30px;
  white-space: nowrap;
}

/* 

FOOTER

*/

footer {
  background-color: rgb(100, 21, 255);
}

.links__container {
  display: flex;
  flex-wrap: wrap;
  margin: 96px 0px 0px;
}

.link {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  align-items: center;
}

.link__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.link__main {
  color: #f7fafc;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin: 48px 0px 0px;
  padding: 4px;
}

.link__console {
  color: #f7fafc;
  font-size: 14px;
  padding: 8px 0px 4px;
  text-decoration: none;
}

.link__console--grp {
  padding: 4px;
}

.light__footer-link {
  display: flex;
  transform: translateX(-100%);
}

.footer__para {
  color: #cbd5e0;
  font-size: 16px;
  transform: translateX(-40%);
  padding: 48px 0px 0px;
}

.footer__subheading {
  color: #f7fafc;
  font-size: 20px;
  margin: 0px 0px 0px 8px;
}

.footer__border {
  margin-top: 4rem;
  width: 100%;
  border-bottom-width: 2px;
  border-color: rgb(116 44 255);
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
}

.footer__link {
  background-color: #f7fafc;
  border: 2px solid gray;
  border-radius: 8px;
  margin: 8px;
}

.footer__links {
  transform: translateX(50%);
}

/* small phones, tablets, large smartphones */

@media (max-width: 768px) {
  .nav__links {
    display: none;
  }
  .btn__menu {
    display: block;
  }
}
